web/bundles/
web/uploads
web/css
web/js
web/*.css
web/*.js
web/export

nodeProxy/node_modules/
app/bootstrap.php.cache
app/cache/*
app/logs/*
app/var/*
build/
vendor
bin
composer.phar

node/

.rdb
.idea
app/config/parameters.yml
.DS_Store
