{% extends '::base.html.twig' %}

{% from 'nemmiWebBundle::macros.html.twig' import helper as helper %}
{% import "nemmiWebBundle::macros.html.twig" as helper %}

{% block title "Propers concerts" %}

{% block body %}
    <div class="container">

        {% for concert in concerts %}
            {% if loop.index == 1 %}
                <div class="row">
            {% endif %}

                {{ helper.box(concert) }}

            {% if (loop.index % 3) == 0 %}
                </div> <div class="row">
            {% endif %}

        {% endfor %}

    </div>

{% endblock body %}

{% block javascripts %}

    {{ parent() }}

{% endblock %}

